*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  border-bottom: 2px solid black;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(87, 136, 159);
}

header img {
  height: 100px;
  width:100px;
  margin: 5px;
}

header h1 {
  margin-right:500px;
  font-family: 'Brush Script MT';
  font-size: 50px;
  letter-spacing: 5px;
  color: black;
}
 
nav {
  margin-right: 25px;
}
  
nav li {
  display: inline-flex;
  margin-right: 25px;
}

nav a {
  font-family: 'Brush Script MT';
  font-size: 25px;
  letter-spacing: 5px;
  color: black;
}







main {
  position: fixed;
  width: 100%;
  display: flex;
  padding-top: 150px;
}

footer {
  position: fixed;
  width: 100%;
  display: flex;
  padding-top: 300px;
}

footer li {
  display: inline-block;
  align-items: left;
  color: black;
}


